spring:
  metrics:
    export:
      enabled: false
  main:
    banner-mode: 'off'
camelsvc:
  sleepSecOrigin: 1
  sleepSecBound: 4
mockservice:
  server.port: {{ mock_http_server_port }}
server:
  port: {{ spring_boot_server_port }}
camel:
  springboot:
    name: CamelRestMockService
endpoints:
  enabled: true
  health:
    enabled: true
  metrics:
    filter:
      enabled: false
    enabled: false
 