<Location /svc>
        ProxyPass http://localhost:{{ spring_boot_server_port }}
        ProxyPassReverse http://localhost:{{ spring_boot_server_port }}
        ProxyPassReverseCookiePath / /svc
</Location>