<IfModule mpm_worker_module>
        ThreadLimit         30
	ServerLimit         10
	StartServers        3
	MinSpareThreads     5
	MaxSpareThreads     20
	MaxClients          300
	ThreadsPerChild     30
	MaxRequestsPerChild 0
	Timeout             30
        ProxyTimeout        30
</IfModule>

<Location /svc>
    ProxyPass ajp://localhost:{{ spring_boot_server_ajp_port }}
</Location>
