spring:
    main:
      banner-mode: "off"
camelsvc:
  sleepSecOrigin: 1
  sleepSecBound: 4
mockservice:
  server.port: {{ mock_http_server_port }}
server:
  connection-timeout: 10000
  compression:
    enabled: false
  tomcat:
    ajp-port: 8082
    max-connections: 300
    max-threads: 300
    min-spare-threads: 200
    accept-count: 100
  port: {{ spring_boot_server_port }}
camel:
  springboot:
    name: CamelRestMockService
endpoints:
  enabled: false
  health:
    enabled: true
